/**********COLORS VALUES****************/
$main-color:white;
$second-color: black;

/************COLORS********************/

.header-container__title,
.presentation {
    color:$main-color;
}

.topbar a {
    color: $second-color;
}

/********************************************************************************/


html {
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

header {
    margin-bottom: 110px;
}

.topbar {
    padding-bottom:20px;
    width:90%;
    margin-right:5%;
    margin-left:5%;
    &__ul {
        list-style-type: none;
    }
}

.topbar-li {
    padding-right:30%;
}

.topbar a {
    text-decoration: none;
}

.header-container {
    width:100%;
    &__background {
        width:85%;
        height: 700px;
        margin-left:7.5%;
        margin-right:7.5%;
    }
    &__logo {
        top:30%;
        width:20%;
    }
    &__title {
        top:75%;
    }
}

.presentation {
    width:85%;
    margin-left:7.5%;
    margin-right:7.5%;
    padding-top:80px;
    padding-bottom:60px;
    background: rgb(20,25,64);
    background: linear-gradient(50deg, rgba(20,25,64,1) 44%, rgba(53,175,236,1) 80%, rgba(22,176,218,1) 92%, rgba(10,193,230,1) 100%); 
    border-radius: 3px;
}

.presentation-container {
    width:45%;
    margin-left:10%;
    &__h2 {
        font-size:35px;
        padding-top:20px;
        padding-bottom:40px;
    }
    &__p {
        width:90%;
        padding-bottom:70px;
    }
}

h1 {
    font-size:40px;
}

.presentation-img {
    width:30%;
    margin-left:4%;
}

.button-container {
    width:100%;
    height:70px;
}

.button {
    cursor:pointer;
    background-color:transparent;
    border: solid 2px rgba(10,193,230,1); 
    width:35%;
    height:10%;
    border-radius: 20px;
    color: rgba(10,193,230,1);
    font-weight:500;
    transition: background-color 0.4s ease-out;
}

.button:hover {
    background-color: rgba(10,193,230,1);
    color: rgba(20,25,64,1);
}