/**********COLORS VALUES****************/
$main-color:white;
$second-color: black;

/************COLORS********************/

.header-container__title,
.presentation {
    color:$main-color;
}

.topbar a {
    color: $second-color;
}

/********************************************************************************/

* {
    font-family: "Roboto", sans-serif;
}

html {
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

header {
    margin-bottom: 110px;
}

.header-container__title {
    width:70%;
    text-align:center;
}

.topbar {
    padding-bottom:20px;
    width:90%;
    margin-right:5%;
    margin-left:5%;
    &__logo {
        width:25%;
    }
    &__ul {
        list-style-type: none;
    }
}

.topbar-li {
    padding-right:30%;
    min-width:25%;
}

.topbar-li-end {
    min-width: 25%;
    padding-right:0;
}

.topbar a {
    text-decoration: none;
}

.header-container {
    width:100%;
    &__background {
        width:85%;
        height: 700px;
        margin-left:7.5%;
        margin-right:7.5%;
    }
    &__logo {
        top:30%;
        width:20%;
    }
    &__title {
        top:75%;
    }
}

.presentation {
    width:85%;
    margin-left:7.5%;
    margin-right:7.5%;
    padding-top:80px;
    padding-bottom:60px;
    background: rgb(20,25,64);
    background: linear-gradient(50deg, rgba(20,25,64,1) 44%, rgba(53,175,236,1) 80%, rgba(22,176,218,1) 92%, rgba(10,193,230,1) 100%); 
    border-radius: 3px;
}

.presentation-container {
    width:45%;
    margin-left:10%;
    &__h2 {
        font-size:35px;
        padding-top:20px;
    }
    &__p {
        width:90%;
        padding-bottom:25px;
    }
}

h1 {
    font-size:40px;
}

.presentation-img {
    width:30%;
    height:30%;
    margin-left:4%;
}

.button {
    cursor:pointer;
    background-color:transparent;
    border: solid 2px rgba(10,193,230,1); 
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: rgba(10,193,230,1);
    font-weight:500;
    transition: background-color 0.4s ease-out;
}

.button:hover {
    background-color: rgba(10,193,230,1);
    color: rgba(20,25,64,1);
}

.about {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
    padding-bottom: 60px;
}

.about h2 {
    font-size:35px;
    background-image:linear-gradient(50deg, rgba(20,25,64,1) 44%, rgba(53,175,236,1) 80%, rgba(22,176,218,1) 92%, rgba(10,193,230,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer {
    width:100%;
    height:200px;
    background: linear-gradient(50deg, rgba(20,25,64,1) 44%, rgba(53,175,236,1) 80%, rgba(22,176,218,1) 92%, rgba(10,193,230,1) 100%);
    color:white;
}