@mixin display-flex-and-row {
    display:flex;
    flex-direction:row;
}

@mixin display-flex-and-column {
    display:flex;
    flex-direction:column;
}

/****MERGING VALUES***/
$center-value:center;

$main-position: relative;
$second-position: absolute;

/********************************/

.topbar,
.topbar__ul,
.presentation,
.footer {
    @include display-flex-and-row;
}

.about,
.gallery-text {
    @include display-flex-and-column;
}

.topbar,
.header-container,
.footer {
    justify-content:$center-value;
}

.topbar,
.about,
.footer {
    align-items:$center-value;
}

.about {
    text-align: justify;
}

.header-container {
    &__background {
        position: $main-position;
    }
}

.header-container__logo,
.header-container__title {
    position: $second-position;
}

.header-container {
    display:flex;
}
