$tablet-breakpoint:1024px;
$mobile-breakpoint:768px;

/***********************************/

@mixin display-flex-and-row {
    display:flex;
    flex-direction:row;
}

@mixin display-flex-and-column {
    display:flex;
    flex-direction:column;
}

/****MERGING VALUES***/
$center-value:center;

$main-position: relative;
$second-position: absolute;

/********************************/

.topbar,
.topbar__ul,
.presentation,
.footer {
    @include display-flex-and-row;
}

.about,
.gallery-text,
.portfolio-main,
.gallery-main {
    @include display-flex-and-column;
}

.cards-container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:30px;
}

.header-container,
.footer,
.article {
    justify-content:$center-value;
}

.topbar,
.about,
.footer,
.portfolio-main,
.article,
.gallery-main {
    align-items:$center-value;
}

.about {
    text-align: justify;
}

.header-container {
    &__background {
        position: $main-position;
    }
}

.header-container__logo,
.header-container__title {
    position: $second-position;
}

.header-container,
.article {
    display:flex;
}

.topbar {
    justify-content: space-between;
}

.topbar__ul {
    justify-content: flex-end;
}

@media screen and (max-width: $tablet-breakpoint) {
    h1 {
        font-size:25px;
    }
    .topbar {
        @include display-flex-and-column;
        align-items:center;
        width:100%;
        margin-left:0;
        margin-right:0;
        &__logo {
            width:35%;
            padding-left:2%;
        }
        &__ul {
            justify-content: $center-value;
        }
    }
    .header-container__logo {
        width:25%;
    }

    .header-container__background {
        height:400px;
    }
    .presentation {
        padding-top:60px;
    }
    .presentation-img {
        width: 230px;
        height: 230px;
        padding-right:7%;
    }
    .presentation-container__h2 {
        font-size: 22px;
        padding-top:0;
        margin-top:0;
    }
    .presentation-container__p {
        padding-bottom:12px;
        text-align: justify;
    }
}

@media screen and (max-width: $mobile-breakpoint) {
    .topbar__logo {
        width:85%;
    }
}